[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "themes/blue-penguin"]
	path = themes/blue-penguin
	url = https://github.com/jody-frankowski/blue-penguin.git
[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = https://github.com/nairobilug/pelican-alchemy

[submodule "themes/pelican-clean-blog'"]
	path = themes/pelican-clean-blog'
	url = https://github.com/gilsondev/pelican-clean-blog.git