[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==3.6.3"
jupyter = ">=1.0"
ipython = ">=4.0"
nbconvert = ">=4.0"
"beautifulsoup4" = "*"
ghp-import = "==0.4.1"
matplotlib = "==2.2.2"
Markdown = "==2.6.6"
cufflinks = "*"

[dev-packages]

[requires]
python_version = "3.6"
