div.prompt {
  padding: 0.6em;
  font-size: 13px;
  background-color: transparent !important ;
  margin-right: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.rendered_html code {
    background-color: #f8f8f8 !important;
    margin: 1em 0em;
    font-size: 14px;
}
.rendered_html pre, .rendered_html code {
	background-color: #f8f8f8 !important;
}
.p-name.entry-title  {
	color: #0074CA !important;
}

.navbar-inverse{
	background-image: linear-gradient(to bottom,#585858 0,#8a8282 100% !important;
}